html, body {width:100%;height:100%;margin:0;padding:0;}
* {
    box-sizing: border-box;
}

/*
.container{
	margin: .8em .2em
}

.column{
max-height: 600px;
overflow-y: visible; 
   display: inline-block;

}
.row{
	max-width: 95%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}*/
.providers{list-style-type: none;font-size: 12px;display: inline;width:100%;}
 .providers li {
    width: 100%;
    height: 2em;
    margin: 1%;
    padding: .5em;
    display: inline-block;
  }
  .prices{
  	list-style-type: none;
  	    width: 100%;
 

  }
  .prices li{

        width: 100%;
    height: 2em;
    margin: 1%;
    padding: .5em;
    display: inline-block;

  }
.item-container{
	width:100%;
	border:1px solid #ccc;
	/*height: 50%;*/
	/*display: flex;*/
	  /*flex: 1 1 auto;  formerly flex: 1 0 auto; */
  
  padding: 2px;
  margin: 2px;
  /*overflow: auto;*/
   /* new */
}
.news{
	/*max-height: 500px;*/
	/*border:1px solid red;*/
	overflow-y:visible;
	display: inline-block;
}
.no-decoration{text-decoration: none;text-anchor: pointer}
.shortened{
  width: auto;
  /*white-space: nowrap;*/
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  font-size: 12px;

}
.square{width:100px;height: 100px}

.blue{color:blue;}
.dark{
	color:#000;
}
.small{font-size: 40px}
.faded{
	/*font-size: 600%;*/
    animation-name: head;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes head {
    0% {font-size:50%; opacity:1;}
    25% {font-size:150%; opacity:0;}
   
    100% {font-size:100%;opacity:1; }
}
/*
.header {
    border: 1px solid red;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/