html, body {width:100%;height:100%;margin:0;padding:0;}
* {
    box-sizing: border-box;
}

.logger{
	background-color: #fff;
	color: #fff;
	font-size:12px;
}

.ul-flat{
	list-style-type: none;font-size: 12px;display: table;min-width: 100%;
}
.ul-flat li{
	margin: 10px;border: 1px solid blue;padding: 5px
}
.twoCol{
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 10px
}
li.apicalls{
	margin: 2px;padding: 2px;border:none;
}

.blue-border{
  border: 1px solid blue !important;
}
.muted-border{
  border: 1px solid #ccc !important;
}
.providers{list-style-type: none;font-size: 12px;display: inline;width:100%;}
 .providers li {
    width: 100%;
    height: 2em;
    margin: 1%;
    padding: .5em;
    display: inline-block;
  }
  .prices{
  	list-style-type: none;
  	    width: 100%;
 

  }
  .prices li{

        width: 100%;
    height: 2em;
    margin: 1%;
    padding: .5em;
    display: inline-block;

  }
.item-container{
	width:100%;
	border:1px solid #ccc;
	/*height: 50%;*/
	/*display: flex;*/
	  /*flex: 1 1 auto;  formerly flex: 1 0 auto; */
  
  padding: 2px;
  margin: 2px;
  /*overflow: auto;*/
   /* new */
}
.news{
	/*max-height: 500px;*/
	/*border:1px solid red;*/
	overflow-y:visible;
	display: inline-block;
}
.no-decoration{text-decoration: none;text-anchor: pointer}
.shortened{
  width: auto;
  /*white-space: nowrap;*/
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  font-size: 12px;

}
.square{width:100px;height: 100px}

.blue{color: blue;}
.dark{
	color:#000;
}
.green{color: #50f442 !important;}
.bg-dark{background-color: #222 !important;}
.white{color: #fff}
.red{color: #ff3a28 !important;}
.small{font-size: 40px;}
.xsmall{font-size: 14px;}
.bold{font-weight: bold;}
.faded{
	/*font-size: 600%;*/
    animation-name: read;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes head {
    0% {font-size:50%; opacity:1;}
    25% {font-size:150%; opacity:0;}
   
    100% {font-size:100%;opacity:1; }
}
li.reading{
    animation-name: read;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes read {
    0% {font-size:90%; opacity:1;}
    25% {font-size:50%; opacity:0.5;}
   
    100% {font-size:10%;opacity:0.1; }
}
